# File from https://github.com/flutter/samples/blob/master/testing_app/windows/.gitignore

# Ignoring Ephemeral means the builds of the app won't be uploaded. For this project, Windows builds should only be used for easy UI testing. 
flutter/ephemeral/

# Visual Studio user-specific files.
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio build-related files.
x64/
x86/

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/
